* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */
a {
    text-decoration: none;
}
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    border: none;
    width: 186px;
    height: 68px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}
.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
/* Header */
.header {
    background: #FFFFFF;
}
.header.fixed {
    position: sticky;
    top:-8px;
    z-index: 1;
}
.header .body {
    padding-top: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav ul {
    display: flex;
}
.header .nav ul a {
    padding: 8px 19px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2F3A3B;
}
.header .nav ul li.active a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #2F3A3B;
}
.header .nav ul li.active a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2F3A3B;
} 
.header .active a.btn {
    padding: 8px 12px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #494949;
}
.header .active a.btn.SI {
    background: #fff;
}
.header .active a.btn.SU {
    width: 110px;
    border: 1px solid #1EBFC1;
    border-radius: 6px;
    background: #fff;
}
/* Hero */
/* hero left */
.hero {
    margin-top: 50px;
    padding-bottom: 70px;
}
.hero .body {
    display: flex;
    justify-content: space-between;
}
.hero .infor {
    width: 44%;
    padding-top: 93px;
    margin-right: 136px ;
}
.hero .infor .text {
    font-weight: 400;
    font-size: 1.4rem;
    color: #767E7E;
}
.hero .infor .title {
    width: 458px;
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0D1111;
}
.hero .infor .desc {
    width: 374px;
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
}
.hero .infor .action {
    display: flex;
    margin-top: 72px;
    align-items: center;
}
.hero .infor .btn-hero {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}
.hero .infor .play {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    border: none;
}
.hero .infor .play:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* hero- right */
.image {
    padding-left: 36px;
    width: 641px;
    position: relative;
    width: 56%;

}
.image .pic-main {
    width: 576px;
    height: 631px;
    object-fit: cover;
    
}
.image .card-1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 149px;
    width: 157px;
    height: 75px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}
.image .card-1 .book-line {
    position: relative;
}
.image .card-1 .book-line .line {
    left: 4px;
    bottom: 8px;
    position: absolute;
    width: 28px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 4px;
}
.image .card-1 .cours {
    margin-left: 16px;
    width: 50px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0D1111;
}
.image .card-2 {
    left: 0;
    bottom: 46px;
    position: absolute;
    width: 124px;
    height: 132px;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.image .card-2 .schedules {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    color: #0D1111;
}
.image .card-2 .line {
    margin-top: 13px;
}
.image .card-2 .line:first-child {
    margin-top: 16px;
}
.image .card-3 {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.image .card-3 .active {
    margin-top: 17px;
    padding-left: 35px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0D1111;
}
.image .card-3 .avt-blog .avt-gr {
    margin-top: 8px;
    padding-left: 35px;
    display: flex;  
    align-items: center;
}
.image .card-3 .avt-blog .avt-gr .avt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}
.image .card-3 .avt-blog .avt-gr p.text {
    padding-top: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #1EBFC1;
    font-weight: 500;
    font-size: 1rem ;
    text-align: center;
    color: #FFFFFF;
}
/* Feature */
.feature {
    margin-top: 130px;

}
.feature .infor .text {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
}
.feature .infor .title {
    margin-top: 18px;
    width: 577px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0D1111;
}
.feature .infor .desc {
    margin-top: 18px;
    width: 590px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767E7E;
}
.feature .list-feature {
    margin-top: 80px;
    display: flex;
    gap: 200px;
}
.feature .list-feature .item {

    width: 224px;
}
.feature .list-feature .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2.0rem;
    color: #0D1111;
}
.feature .list-feature .item .desc {
    
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9DA6A5;
}
/* Courses */
.courses {
    margin-top: 130px;   
}
.courses .infor .text {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
}
.courses .infor .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #0D1111;
}
.courses .infor .course-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses .infor .desc {
    width: 525px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
}
.courses .infor .read-more {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1EBFC1;
}
.courses .list-item {
    margin-top: 79px;
    display: flex;
}
.courses .list-item .item {
    position: relative;
    width: 33.33%;
}
.courses .list-item .item .img-item {
    width: 359px;
    height: 393px;
    background: #D0EFED;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.9;
}
.courses .list-item .item .card {
    position: absolute;
    width: 325px; 
    top: 322px;
    left: 17px;
    background: #FFFFFF;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.courses .list-item .item .card .card-content {
    padding-left: 25px;
}
.courses .list-item .item .card .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}
.courses .list-item .item .card .fee {
    display: flex;
    margin-top: 16px;
}
.courses .list-item .item .card .fee span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #767E7E;
    
}
.courses .list-item .item .card .fee strong {
    font-weight: 700;
    font-size: 1.6rem;
    color: #0D1111;
    font-style: bold;
    margin-left: 5px;   
}
.courses .list-item .item .card .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9DA6A5;
}
.courses .list-item .item .card .date {
    display: flex;
    margin-top: 18px;
    padding-bottom: 29px; 
    
}
.courses .list-item .item .card .date .class {
    display: flex;
    align-items: center;
    gap: 10px;
}
.courses .list-item .item .card .date .class::before {
    display: inline-block;  
    content: "";
    width: 6px;
    height: 6px;
    background: #1EBFC1;
    border-radius: 50%;
}
.courses .list-item .item .card .date .time {
    margin-left: 26px;  
    display: flex;
    align-items: center;
    gap: 10px;
}
.courses .list-item .item .card .date .time::before {
    display: inline-block;  
    content: "";
    width: 6px;
    height: 6px;
    background: #1EBFC1;
    border-radius: 50%;
}
/* CountDown */
.countdown {
    margin-top: 265px;
}
.countdown .content-countdown {
    width: 862px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.countdown .numb {
    padding: 8px;
}
.countdown .desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 18px;
    color: #767E7E;
    text-align: center;
}
/* <!-- Testimonial-eLearning  --> */
.testtimonial {
    margin-top: 264px;
}
.testtimonial .body {
    display: flex;
}
.testtimonial .body .infor {
    position: relative;
    width: 42%;
}
.testtimonial .body .infor .desc {
    margin-top: 27px;
    width: 419px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5D6564;
}
.testtimonial .body .infor .author {
    margin-top: 33px;
    margin-left: 13px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #767E7E;
}
.testtimonial .body .infor .author::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    left: 0px;
    bottom: 109px;
    background: #070707;
}
.testtimonial .body .infor .author .ben {
    color: #070707;
}
.testtimonial .body .infor .direc {
    display: flex;
    margin-top: 52px;
    gap: 30px;  
}
.testtimonial .body .infor button.btn-direc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2AC9BF;
    border: none;
}
.testtimonial .body .infor .direc img {
    align-content: center;
}
.testtimonial .body .infor button.btn-direc:hover{
    cursor: pointer;
    opacity: 0.8;
}
.testtimonial .avatars {
    position: relative;
    width: 52%;
}
.testtimonial .avatars .main-avt {
    position: absolute;
    margin-left: 345px;
    margin-top: 107px;
}
.testtimonial .avatars .avt-1 {
    position: absolute;
    top: 0;
    left: 216px;
}
.testtimonial .avatars .avt-2 {
    position: absolute;
    top: 19px;
    left: 641px;
}
.testtimonial .avatars .avt-3 {
    position: absolute;
    top: 374px;
    left: 641px;
}
.testtimonial .avatars .avt-4 {
    position: absolute;
    top: 403px;
    left: 284px;
}
.testtimonial .avatars .avt-5 {
    position: absolute;
    top: 258px;
    left: 72px;
}